<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <!-- render users using partial - same as doing a @users.each do |user| ... render user ... -->
  <%= render @users %>
</ul>

<%= will_paginate %>
